<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{locadora.cadastrar.label}"></span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/locadoras/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{locadora.listar.label}"></span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${locadora.id == null} ? @{/locadoras/salvar} : @{/locadoras/editar}"
				th:object="${locadora}" method="POST">
				
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nome" th:text="#{locadora.nome.label}"></label> 
						<input type="text" class="form-control" id="nome"
							autofocus="autofocus" th:field="*{nome}"
							th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{nome}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="CNPJ" th:text="#{locadora.cnpj.label}">CNPJ</label> 
						<input type="text" class="form-control" id="CNPJ" placeholder="__.___.___/____-__"
							autofocus="autofocus" th:field="*{CNPJ}"
							th:classappend="${#fields.hasErrors('CNPJ')} ? is-invalid" 
							data-mask="00.000.000/0000-00" data-mask-reverse="true" />
						                               
						<div class="invalid-feedback">
							<span th:errors="*{CNPJ}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="username" th:text="#{locadora.email.label}">Email</label> 
						<input type="email" class="form-control" id="username" placeholder="abcde@email.com"
							autofocus="autofocus" th:field="*{username}"
							th:classappend="${#fields.hasErrors('username')} ? is-invalid"/>
						                               
						<div class="invalid-feedback">
							<span th:errors="*{username}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="password" th:text="#{locadora.senha.label}">Senha</label> 
						<input type="password" class="form-control" id="password"
							autofocus="autofocus" th:field="*{password}"
							th:classappend="${#fields.hasErrors('password')} ? is-invalid"/>
						                               
						<div class="invalid-feedback">
							<span th:errors="*{password}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="cidade" th:text="#{locadora.cidade.label}">Cidade</label> 
						<input type="text" class="form-control" id="cidade"
							autofocus="autofocus" th:field="*{cidade}"
							th:classappend="${#fields.hasErrors('cidade')} ? is-invalid"/>
						                               
						<div class="invalid-feedback">
							<span th:errors="*{cidade}"></span>
						</div>
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" class="btn btn-primary btn-sm" th:text="#{button.save}">Salvar</button>
			</form>
		</div>
	</section>
</body>
</html>



