<!DOCTYPE html>
<html layout:decorate="~{layout}">
<head>
<meta charset="UTF-8" />
</head>
<body>
	<section class="layout-content" layout:fragment="corpo">

		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><i class="oi oi-caret-right"></i>
						<span th:text="#{client.cadastrar.label}">Cadastrar Cliente</span></li>
				</ul>
				<a class="btn btn-primary btn-md" th:href="@{/clientes/listar}"
					role="button"> <span class="oi oi-spreadsheet" title="Listar"
					aria-hidden="true"></span> <span th:text="#{client.listar.label}">Listar Clientes</span>
				</a>
			</div>
		</nav>

		<div class="container" id="cadastro">

			<div th:replace="fragments/alert"></div>

			<form
				th:action="${cliente.id == null} ? @{/clientes/salvar} : @{/clientes/editar}"
				th:object="${cliente}" method="POST">
				
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="nome" th:text="#{client.nome.label}">Nome</label> 
						<input type="text" class="form-control" id="nome" 
							autofocus="autofocus" th:field="*{nome}"
							th:classappend="${#fields.hasErrors('nome')} ? is-invalid" />

						<div class="invalid-feedback">
							<span th:errors="*{nome}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="CPF" th:text="#{client.cpf.label}">CPF</label> 
						<input type="text" class="form-control" id="CPF" placeholder="___.___.___-__"
							autofocus="autofocus" th:field="*{CPF}"
							th:classappend="${#fields.hasErrors('CPF')} ? is-invalid" 
							data-mask="000.000.000-00" data-mask-reverse="true" />
						                               
						<div class="invalid-feedback">
							<span th:errors="*{CPF}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="username" th:text="#{client.email.label}">Email</label> 
						<input type="email" class="form-control" id="username" placeholder="abcde@email.com"
							autofocus="autofocus" th:field="*{username}"
							th:classappend="${#fields.hasErrors('username')} ? is-invalid"/>
						                               
						<div class="invalid-feedback">
							<span th:errors="*{username}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="password" th:text="#{client.senha.label}">Senha</label> 
						<input type="password" class="form-control" id="password"
							autofocus="autofocus" th:field="*{password}"
							th:classappend="${#fields.hasErrors('password')} ? is-invalid"/>
						                               
						<div class="invalid-feedback">
							<span th:errors="*{password}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="telefone" th:text="#{client.telefone.label}">Telefone</label> 
						<input type="text" class="form-control" id="telefone" placeholder="XX X XXXX-XXXX"
							autofocus="autofocus" th:field="*{telefone}"
							th:classappend="${#fields.hasErrors('telefone')} ? is-invalid" 
							data-mask="00 0 0000-0000" data-mask-reverse="true" />
						                               
						<div class="invalid-feedback">
							<span th:errors="*{telefone}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="genero" th:text="#{client.genero.label}">Gênero</label> 
						<input type="text" class="form-control" id="genero"
							autofocus="autofocus" th:field="*{genero}"
							th:classappend="${#fields.hasErrors('genero')} ? is-invalid"/>
						                               
						<div class="invalid-feedback">
							<span th:errors="*{genero}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="dataNascimento" th:text="#{client.data.label}">Data de Nascimento</label> 
						<input type="text" class="form-control" id="dataNascimento" placeholder="dd/mm/yyyy"
							autofocus="autofocus" th:field="*{dataNascimento}"
							th:classappend="${#fields.hasErrors('dataNascimento')} ? is-invalid"
							data-mask="00/00/0000" data-mask-reverse="true" />
						                               
						<div class="invalid-feedback">
							<span th:errors="*{dataNascimento}"></span>
						</div>
					</div>

					<div class="form-group col-md-6">
						<label for="role" th:text="#{client.papel.label}">Papel</label> 
						<select name="role" class="form-control" id="role">
							<option value="ROLE_CLIENTE">Cliente</option>
							<option value="ROLE_ADMIN">Admin</option>
						</select>
					</div>
				</div>

				<input type="hidden" id="id" th:field="*{id}" />
				<button type="submit" class="btn btn-primary btn-sm" th:text="#{button.save}">Salvar</button>
			</form>
		</div>
	</section>
</body>
</html>



